:root {
  --bright: var(greenyellow);
  --cardBG: rgb(255, 145, 0);
  --softWhite: rgb(255, 255, 255, 0.25);
  --dark: rgba(0, 0, 0);
  --dark: rgba(0, 0, 0);
  --light: rgb(72, 72, 72);
}

.container {
  display: grid;
  grid-template-columns: 0.2fr 3.6fr 0.2fr;
  grid-template-rows: 0.2fr 3.6fr 0.2fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas:
    "hero hero hero"
    "sidebar main ads"
    "footer footer footer";
}

.hero {
  grid-area: hero;
  background: bright;
  height: 100vh;
  width: 100vw;
  position: relative;
  top: 0;
  left: 0;
  overflow: hidden;
}

.big-image {
  height: 100vh;
  width: 100vw;
  position: relative;
  background-size: cover;
  background-position: 50% 50%;
  background-image: url("./assets/OverHero.jpg");
  object-fit: cover;
}

.big-image-overhead {
  height: 100vh;
  width: 100vw;
  position: relative;
  background-size: cover;
  background-position: 50% 50%;
  background-image: url("./assets/overhead.jpg");
  object-fit: cover;
}

.overlay {
  position: absolute;
  height: 100%;
  width: 100%;
  /* top: -100px; */
  left: 0;
  /* top: 0; */
  background-color: rgb(255, 255, 255, 0);
  color: rgb(33, 33, 33);
  font-size: 15vw;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.overlay-relative {
  position: relative;
  height: 100%;
  width: 100%;
  /* left: -100px; */
  /* left: 0; */
  /* top: 0; */
  background-color: rgb(255, 255, 255, 0);
  color: rgb(33, 33, 33);
  font-size: 15vw;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.column {
  display: flex;
  flex-direction: column;
}



.footer {
  grid-area: footer;
  background: whitesmoke;
  height: 15vh;
  width: 100vw;

  color: rgb(0, 0, 0);
  display: flex;
  margin: auto;
  font-size: 2vh;
  justify-content: center;
  align-items: center;
}

.flex {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 80%;

}

.TKC-logo {
  z-index: 2;
  height: 20vh;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  padding-bottom: 5%;
}

.overhead {
  height: 50vh;
  /* display: flex; */
  justify-content: left;
  align-items: center;
  margin: auto;
}

.text-p {
  width: 50vw;
  font-size: 3vh;
  font-weight: 700;
  padding: 5% 0;
}
.no-overlap{
  /* word-break: break-all; */
  white-space: pre-wrap;
}

nav {
  
  z-index: 1;
  font-size: 1.5rem;
}

.nav-wrapper {
  display: flex;
}

nav a {
  color: #13293d;
  /* padding: 14px 20px 20px 20px; */
  text-decoration: none;
  text-align: center;
}

.sidebar {
  grid-area: sidebar;
  background-color: whitesmoke;
}

.main {
  grid-area: main;
  background-color: white;
  padding: 1em;
  display: grid;
  grid-template-columns: repeat(auto-fit);
  grid-gap: 1em;
  height: 80%vh;
}

.example {
  color: var(--light);
  font-size: small;
  width: 80%;
  margin: auto;
}

.ads {
  grid-area: ads;
  background-color: whitesmoke;
}

.def-cards {
  box-sizing: border-box;
  border: 2px solid #000000; /* Inner border style for the card content */
  border-radius: 8px; /* Inner border radius for the card content */
  -webkit-box-shadow: 4px 4px 0px 4px rgba(0, 0, 0, 1);  
  -moz-box-shadow: 4px 4px 0px 4px rgba(0, 0, 0, 1);  
  box-shadow: 4px 4px 0px 4px rgba(0, 0, 0, 1);  
  padding: 15%;
  background-color: rgb(217, 255, 0, 1);
  height: 50%;
  max-height: 80vh;
  min-height: 40vh;
}



.def-cards-craft {
  /* box-sizing: border-box; */
  border: 2px solid #000000; /* Inner border style for the card content */
  border-radius: 8px; /* Inner border radius for the card content */
  -webkit-box-shadow: 4px 4px 0px 4px rgba(0, 0, 0, 1);  
  -moz-box-shadow: 4px 4px 0px 4px rgba(0, 0, 0, 1);  
  box-shadow: 4px 4px 0px 4px rgba(0, 0, 0, 1);  
  padding: 4%;
  background-color: rgb(217, 255, 0, 1);
}

h1 .def-cards {
  width: 50%;
  /* background-color: rgba(255, 145, 0, 0.8); */

  
}


html,
body,
.container {
  height: 100%;
  margin: 0;
  font-size: 62.5%;
  font-family: Arial, Helvetica, sans-serif;
}

h3,
h4,
h5,
h6 {
  margin: 0.625rem;
  /* color: var(--heliotrope); */
  font-weight: 700;
  line-height: 1.1;
  text-align: center;
  white-space: nowrap;
  font-size: 2vw;
}

h2 {
  /* margin-bottom: 0.625rem; */
  /* color: var(--heliotrope); */
  font-family: Arial, Helvetica, sans-serif; /* Specify the font-family */
  font-weight: 600;
  line-height: 1.1;
  text-align: center;
  white-space: nowrap;
  font-size: 4vw;
}

h2 strong {
  font-weight: 800;
}

h1 {
  /* margin-bottom: 0.625rem; */
  /* color: var(--heliotrope); */
  font-weight: 700;
  line-height: 1.1;
  text-align: center;
  white-space: nowrap;
  font-size: 6vw;
}

/* For presentation only, no need to copy the code below */

.container {
  border: 0px solid rgb(0, 0, 0);
  position: relative;
}

.container *:after {
  /* content: attr(class); */
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: grid;
  align-items: center;
  justify-content: center;
}

.light-font {
  font-weight: 400;
  width: 90%;
  padding-left: 10%;
  margin: auto;
  font-size: medium;
}

main > div {
  /* background-color: greenyellow; */
  /* padding: 0.5em; */
  justify-content: center;
  align-items: center;
  border-radius: 4px;
  font-size: 1.75rem;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 95vh;
}

.noun-verb {
  font-style: italic;
  font-weight: 600;
}
.section {
  display: flex;
  
  /* margin: auto; */
  width: 100%;
  /* margin-top: 10px */
}

.craft {
  display: flex;
  justify-content: center;
}

.split,
.copy {
  display: flex;
  width: 100%;
  justify-content: center;
  height: 100%;
  /* margin: auto; */
  align-items: center;
  position: relative;
  box-sizing: border-box;

  /* margin: -10px, 10px, 10px, 10px; */
}

@media screen and (max-width: 768px) {
  .overlay {
    /* white-space: nowrap;  */
    font-size: 15vw;
    /* font-size: 3rem; */
    /* padding-top: 37%; */
    font-weight: 800;
  }



  .nav {
    display: none;
  }

  .TKC-logo {
    display: none;
  }

  main > div {
    font-size: 1.5rem;
    height: 50vh;
  }

  .split,
  .copy {
    display: flex;
    /* background-color: var(--cardBG); */
    width: 50%;
    justify-content: center;
    height: 100%;
    /* margin: auto; */
    align-items: center;
    position: relative;
    /* padding: 10px; */
    /* margin: -40px 10px 10px 10px; */
  }

  .def-cards-craft {
    /* box-sizing: border-box; */
    
    background-color: rgb(217, 255, 0, 1);
  }
}
