:root {
  --bright: var(greenyellow);
  --cardBG: rgb(255, 145, 0);
  --softWhite: rgb(255, 255, 255, 0.25);
  --dark: rgba(0, 0, 0);
  --dark: rgba(0, 0, 0);
  --light: rgb(72, 72, 72);
}

.container {
  display: grid;
  grid-template-columns: 0.2fr 3.6fr 0.2fr;
  grid-template-rows: 0.2fr 3.6fr 0.2fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas:
    "hero hero hero"
    "main main main"
    "footer footer footer";
}

#about,
#service{
  height: 100vh;
  position: relative;
  top: 10px;
}



.hero {
  grid-area: hero;
  background: bright;
  height: 100vh;
  width: 100vw;
  position: relative;
  top: 0;
  left: 0;
  overflow: hidden;
}

.big-image {
  height: 100vh;
  width: 100vw;
  position: relative;
  background-size: cover;
  background-position: 50% 50%;
  background-image: url("./assets/OverHero.jpg");
  object-fit: cover;
}

.big-image-overhead {
  height: 100vh;
  width: 100vw;
  position: relative;
  background-size: cover;
  background-position: 50% 50%;
  background-image: url("./assets/overhead.jpg");
  object-fit: cover;
}

.overlay {
  position: absolute;
  height: 100%;
  width: 100%;
  /* top: -100px; */
  left: 0;
  /* top: 0; */
  background-color: rgb(255, 255, 255, 0);
  color: rgb(33, 33, 33);
  font-size: 15vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.overlay-relative {
  position: relative;
  height: 100%;
  width: 100%;
  /* left: -100px; */
  /* left: 0; */
  /* top: 0; */
  background-color: rgb(255, 255, 255, 0);
  color: rgb(33, 33, 33);
  font-size: 15vw;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.column {
  display: flex;
  flex-direction: column;
}

.footer {
  grid-area: footer;
  background: whitesmoke;
  min-height: 33vh;
  width: 100vw;
  color: rgb(0, 0, 0);
  display: flex;
  margin: auto;
  font-size: 2vh;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  line-height: 2;
}

/* .hard-split { */
  /* display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin: auto; */
  /* padding: 5%; */
/* } */

.porsch-icon {
  height: 50vh;
  margin: auto;
  display: flex;
  display: none;
  justify-content:flex-start;

}

.flex {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 80%;
  
}

.TKC-logo-hero {
  z-index: 2;
  height: 30vh;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  padding-bottom: 2%;
}


.TKC-logo-foot {
  z-index: 2;
  height: 13vh;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  padding-bottom: 2%;
}

.overhead {
  height: 50vh;
  /* display: flex; */
  justify-content: left;
  align-items: center;
  margin: auto;
}

.text-p {
  width: 50vw;
  font-size: 3vh;
  font-weight: 700;
  padding: 5% 0;
}
.no-overlap {
  /* word-break: break-all; */
  /* white-space: pre-wrap; */
}

nav {
  z-index: 1;
  font-size: 1.5rem;
}

.nav-wrapper {
  display: flex;
}

nav a {
  color: #13293d;
  /* padding: 14px 20px 20px 20px; */
  text-decoration: none;
  text-align: center;
}

.sidebar {
  grid-area: sidebar;
  background-color: whitesmoke;
}

.main {
  grid-area: main;
  background-color: white;
  padding: 1em;
  display: grid;
  grid-template-columns: repeat(auto-fit);
  grid-gap: 1em;
}

.more-about{
  background-image: url("./assets/overhead.jpg");
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 0;
  padding: 0;
}

#services {
  height: 100vh;
}
.more-service{
  background-image: url("./assets/walking.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 0;
  padding: 0;
  height: 100vh;

}

.example {
  color: var(--light);
  font-size: 1.5vh;
  width: 80%;
  margin: auto;
}

.ads {
  grid-area: ads;
  background-color: whitesmoke;
}

.details{
  font-size: x-small;
}

.def-cards {
  box-sizing: border-box;
  border: 2px rgb(255, 255, 255) solid;
  border-radius: 1.5em;
  box-shadow: 4px 4px 0px #000000;
  -webkit-box-shadow: 4px 4px 0px rgba(0, 0, 0, 1);
  -moz-box-shadow: 4px 4px 0px rgba(0, 0, 0, 1);
  box-shadow: 4px 4px 0px rgba(0, 0, 0, 1);
  padding: 10%;
  background-color: rgb(217, 255, 0, 1);
  height: 50%;
  max-height: 80vh;
  min-height: 40vh;
}

.def-cards-service {
  box-sizing: border-box;
  border: 2px rgb(255, 255, 255) solid;
  border-radius: 1.5rem;
  box-shadow: 4px 4px 0px #000000;
  -webkit-box-shadow: 4px 4px 0px rgba(0, 0, 0, 1);
  -moz-box-shadow: 4px 4px 0px rgba(0, 0, 0, 1);
  box-shadow: 4px 4px 0px rgba(0, 0, 0, 1);
  padding: 6% 6% 6% 6%;
  background-color: rgb(217, 255, 0, 1);
  height: 80%;
  max-height: 90vh;
  font-size: 15rem
}


.def-cards-foot {
  box-sizing: border-box;
  border: 2px rgb(255, 255, 255) solid;
  border-radius: 1.5rem;
  box-shadow: 4px 4px 0px #000000;
  -webkit-box-shadow: 4px 4px 0px rgba(0, 0, 0, 1);
  -moz-box-shadow: 4px 4px 0px rgba(0, 0, 0, 1);
  box-shadow: 4px 4px 0px rgba(0, 0, 0, 1);
  padding: 15% 15% 4% 15%;
  background-color: rgb(217, 255, 0, 1);
  height: 100%;
  max-height: 40vh;
  min-height: 20vh;
  font-size: 15rem
}

.padding {
  padding: 10% !important;
}

.def-cards-craft {
  /* box-sizing: border-box; */
  border: 2px solid #ffffff; /* Inner border style for the card content */
  border-radius: 1.5rem; /* Inner border radius for the card content */
  -webkit-box-shadow: 4px 4px 0px rgba(0, 0, 0, 1);
  -moz-box-shadow: 4px 4px 0px rgba(0, 0, 0, 1);
  box-shadow: 4px 4px 0px rgba(0, 0, 0, 1);
  padding: 4%;
  background-color: rgb(217, 255, 0, 1);
}



h1 .def-cards {
  width: 50%;
  /* background-color: rgba(255, 145, 0, 0.8); */
}

html,
body,
.container {
  height: 100%;
  margin: 0;
  font-size: 62.5%;
  font-family: Arial, Helvetica, sans-serif;
  overflow-x: hidden; 

}

h3,
h4,
h5,
h6 {
  margin: 0.625rem;
  /* color: var(--heliotrope); */
  font-weight: 700;
  line-height: 1.1;
  text-align: center;
  white-space: nowrap;
  font-size: 1.5vh;
}

p {
  font-size: 1.7vh;

}
.wrap {
  white-space: pre-wrap;
  font-size: 2.14vh;
}
.span {
  display: flex;
  justify-content: space-between;
}

.span-footer {
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: end;

}

.footer-content {
  text-align: center; 
  justify-content: end;
}

.services {
  width: 95%;
  margin: auto;
  display: flex;
}

.scale {
  font-size: 1.8vh;
}

h2 {
  /* margin-bottom: 0.625rem; */
  /* color: var(--heliotrope); */
  font-family: Arial, Helvetica, sans-serif; /* Specify the font-family */
  font-weight: 600;
  line-height: 1.1;
  text-align: center;
  white-space: nowrap;
  font-size: 3.5vh;
}

h2 strong {
  font-weight: 800;
}

h1 {
  /* margin-bottom: 0.625rem; */
  /* color: var(--heliotrope); */
  font-weight: 700;
  line-height: 1.1;
  text-align: center;
  white-space: nowrap;
  font-size: 4vh;
}

/* For presentation only, no need to copy the code below */

.container {
  border: 0px solid rgb(0, 0, 0);
  position: relative;
}

.container *:after {
  /* content: attr(class); */
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: grid;
  align-items: center;
  justify-content: center;
}

.light-font {
  font-weight: 400;
  width: 90%;
  padding-left: 10%;
  margin: auto;
  font-size: medium;
}

main > div {
  /* background-color: greenyellow; */
  /* padding: 0.5em; */
  justify-content: center;
  align-items: center;
  border-radius: 4px;
  font-size: 1.25rem;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.noun-verb {
  font-style: italic;
  font-weight: 600;
  font-size: 1.7vh;
}
.section {
  display: flex;

  /* margin: auto; */
  width: 100%;
  /* margin-top: 10px */
}

.craft {
  display: flex;
  justify-content: center;
}

.split,
.copy {
  display: flex;
  width: 100%;
  justify-content: center;
  height: 100%;
  /* margin: auto; */
  align-items: center;
  position: relative;
  box-sizing: border-box;

  /* margin: -10px, 10px, 10px, 10px; */
}

@media screen and (min-width: 1200px) {
  #about {
    position: relative;
    top: 10px;
  }
  

  .footer {

    height: 25vh;
  
  }


}
@media screen and (max-width: 768px) {
  .overlay {
    /* white-space: nowrap;  */
    /* font-size: 15vw; */
    /* font-size: 3rem; */
    /* padding-top: 37%; */
    font-weight: 800;
    height: 100%;
  }

  .porsch-icon{
    display: none;
  }

  .TKC-logo {
    z-index: 2;
    height: 15vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    padding-bottom: 5%;
  }

  /* .nav {
    display: none;
  } */
  /* 
  .TKC-logo {
    display: none;
  } */

  main > div {
    font-size: 1rem;
    /* height: 50vh; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
    font-size: 1.75rem;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 200vh;
  }


  .split,
  .copy {
    display: flex;
    /* flex-direction: column; */
    /* background-color: var(--cardBG); */
    width: 90%;
    justify-content: center;
    height: 100%;
    margin: auto;
    align-items: center;
    position: relative;
    margin: 5%;
    top: 220px;
    height: 200vh;

  }

  .def-cards {
    /* box-sizing: border-box; */
    position: relative;
    top: -180px;
  }

  .def-cards-service {
    /* box-sizing: border-box; */
    position: relative;
    top: -180px;
  }
}
